<h2> My Profile <h2>
  <tr>
    <th>Name:</th><br>
    <th>Email:</th><br>
    <th>Image:</th><br>
    <th>About:</th><br>      
  </tr>
 
  <% @profile.each do |profile|%>
    <tr>
    <% if current_user_signed_in? %>
      <td><%= profile.name %></td><br>
      <td><%= profile.email %></td><br>
      <td><img src="<%= profile.image %>" style="height: 120px; width: 150px;"></td><br><br><br><br><br><br>
      <td><%= profile.about %></td>
     <td><%= link_to 'Edit', edit_profile_path(profile), class: "btn btn-primary" %></td>
       <% end %>
  <% end %>
   <%= link_to 'Back', root_path, class: "btn btn-info" %>

   <%= render partial: "users/background"%>