<center><h2>Sign up</h2></center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<table border="2px" align="center" width="30%", style="background-color: pink ">
<td><br>
  <div class="form-group">
    <label class="col-sm-2 control-label">Name:</label>
    <div class="col-sm-8  inputGroupContainer">
      <%= f.text_field :name,:class=>"form-control",:placeholder => "Name" %>
    </div>
  </div>
 
  
  <div class="form-group">
    <label class="col-sm-1 control-label">Email:</label>
    <div class="col-sm-8  inputGroupContainer">
      <%= f.text_field :email,:class=>"form-control",:placeholder => "Email" %>
    </div>
  </div>

  
  <div class="form-group">
    <label class="col-sm-2 control-label">Password:</label>
    <div class="col-sm-8  inputGroupContainer">
    <%= f.password_field :password,:class=>"form-control", autocomplete: "off",:placeholder => "Password" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  </div><br>

  <div class="form-group">
    <label class="col-sm-2 control-label">Pass_confirm:</label>
     <div class="col-sm-8  inputGroupContainer">
     <%= f.password_field :password_confirmation,:class=>"form-control", autocomplete: "off",:placeholder => "password Confirmation" %>
  </div><br>

  <div class="form-group">
      <label class="col-sm-1 control-label">Image:</label>
    <div class="col-sm-8  inputGroupContainer">
     <%= f.file_field :image,:onchange => "showimagepreview(this)",:class=>"img_file"  %>
     
    </div>
  </div>

   <div class="form-group">
    <label class="col-sm-2 control-label">About:</label>
    <div class="col-sm-8  inputGroupContainer">
     <%= f.text_field :about,:class=>"form-control",:placeholder => "About"  %>
    </div>
  </div>

  <p><center>
  <div class="col-sm-3  inputGroupContainer">
    <%= f.submit 'Sign up', class: "btn btn-info" %>
  </p></center>
  </td></table>
<% end %>

<%= render "devise/shared/links" %>


<style type="text/css">
body{
  background-color: lightcyan;
  background-image: url(/assets/19.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  .dropdown-menu li:hover{
  visibility: visible;
  }
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #ffba98;
  }
 
</style>