<!DOCTYPE html>
 <html>
 <body>
 <center><h1>My Friends </h1></center>
<table class="table">
 <ul>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Profile Image</th>
    <th>About</th>
  </tr>
<% @friend.each do |friend| %>
  <tr>
    <td><%= friend.name %> </td>
    <td><%= friend.email %></td>
    <td><%= image_tag friend.image_url.to_s, style:"height: 70px; width: 100px;" %></td>
    <td><%= friend.about %></td>
     
    <td> <%= link_to 'Show profile',friend_path(friend), class: "btn btn-success "%> </td> 
    <td>
      <% if friend.friendships.present?%>
        <% friend.friendships.each do |friend| %>
          <%= link_to "Unfriend", friendship_path(id: friend.id), method: :delete, class: "btn btn-danger" %>
        <%end%>   
      
      <%else%>
      <%end%>
    </td> 
  </tr>
 <%end%> 
</ul>
</table>
</body>
</html>


<center><%= link_to 'Back', users_path, class: "btn btn-success btn-lg" %></center>


<%= render partial: "users/background"%>