<table>
	<td>
	 <center><h1 style="color:black;">Chatting with <%= @conversation.with(current_user).try( :name) %></h1>
	  <div id="conversation-main">
	   <div id="conversation-body">
	    <%= render @conversation.personal_messages %>
	   </div>
	    <%= form_for @personal_message do |f| %>
	    <%= hidden_field_tag 'conversation_id', @conversation.id %>
	    <div class="form-group">
      <label class="col-sm-2 control-label">Body:</label>
      <div class="col-sm-10  inputGroupContainer">
     <%= f.text_field :body,:class=>"form-control",:placeholder => "Comment"  %>
     <%= f.submit %>
    </div>
	   <% end %>
	  </div>
	 </center>
	</td>
</table>

 <%= render partial: "users/background"%>