<h1>All Users</h1>

<td><%= link_to 'My Profile', friendships_path, class: "btn btn-primary"  %> </td><br><br>

 <%= form_for :user, url: users_path, :method => 'get' do |f| %>
  <p>
   <%= text_field_tag :name %>
   <%= submit_tag 'Search' , class: "btn btn-primary" %>
  </p>
 <% end %>

<table>
  <tr>
    <th>Name</th>
     <th colspan="1"></th>      
    <th>Email</th>
    <th colspan="2"></th>
    <th>Image</th>
    <th colspan="3"></th>
    <th>About</th>
  </tr>


  <% @user.where.not(id: current_user.id).each do |user| %>
    <tr>
     <td> <%= user.name %> <br> 
     |<%= link_to 'send a message', new_personal_message_path(receiver_id: user) %></td>
      <th colspan="2"></th>
      <td><%= user.email %></td>
      <th colspan="2"></th>
      <td><img src="<%= user.image %>" style="height: 120px; width: 150px;"></td>
      <th colspan="3"></th>
      <td><%= user.about %></td>
      <td>
       <p align="right">
      <%if Friendship.where(user_id: [current_user.id, user.id],friend_id: [current_user.id, user.id],accepte: false).present?%>
         <button type="button" class="btn btn-danger">Request sent</button>
        <%elsif Friendship.where(user_id: [current_user.id, user.id],friend_id: [current_user.id, user.id],accepte: true).present? %>
         <button type="button" class="btn btn-primary">Friend</button>
        <%else %> 
         <%= link_to "Add Friend", friendships_path(friend_id: user.id), method: :post, class: "btn btn-success"%>
        <%if current_user && current_user.try(:admin?)%>
         <%= link_to "Delete", user_path(id: user.id), method: :delete, class: "btn btn-danger"%>
        <% end %> 
      <%end%>
      </p>
      </td>
    </tr>
  <% end %>
  <%= link_to 'Back', root_path, class: "btn btn-success btn-md" %>

  <%= render partial: "users/background"%>