<h1>New message to <%= @receiver.name %></h1>

<%= form_for @personal_message do |f| %>
  <%= hidden_field_tag 'receiver_id', @receiver.id %>
<div class="form-group">
      <label class="col-sm-2 control-label">Body:</label>
      <div class="col-sm-3  inputGroupContainer">
     <%= f.text_field :body,:class=>"form-control",:placeholder => "Comment"  %>
     <%= f.submit %>
    </div>
<% end %>
 <%= render partial: "users/background"%>